akka {
    loglevel=INFO,

    persistence {
        journal {
            plugin = "akka.persistence.journal.eventstore"

            eventstore {
                class = "Akka.Persistence.EventStore.Journal.EventStoreJournal, Akka.Persistence.EventStore"
                connection-string = "ConnectTo=tcp://admin:changeit@localhost:1113"
                connection-name = "akka"
            }
        }

        query.journal.eventstore {
            max-buffer-size = 500
        }
    }
}